<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Student Status
        </title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        <link rel="stylesheet" href="style.css">

    </head>

    <body>
            <%- include('layout/sideBar') %>
        <div class="holder">
          
            <form action="" class="statForm">
              <span><h1><b>Registration Status</b></h1></span>
                      <div class="regTable-info">
            <table>
              <thead>
                <tr>

                  <th>Student Name</th>
                  <th>Request status</th>
                  <th>Student status</th>
                  <th>Date of Entry</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= regInfo.name %></td>
                  <% if(regInfo.status === 'active'){ %>
                <td style="color: #388E3C; font-weight: 600; ">Approved</td>
                  <% }else{ %>
                  <td style="color:#FBC02D; font-weight: 600;">Pending...</td>
                  <% } %>
                  <td><%= regInfo.status %></td>
                  <td><%= regInfo.createdAt %></td>
                </tr>

              </tbody>
            </table>
          </div><br>

         <span><h1><b>Exeat Status</b></h1></span>
         <div class="regTable-info">
            <table>
              <thead>
                <tr>

                  <th>Student Name</th>
                  <th>Request Type</th>
                  <th>Request status</th>
                  <th>Student status</th>
                  <th>Date of Entry</th>
                </tr>
              </thead>
              <!-- <tbody>
                <tr>
                  <td><%= exeatInfo.student.StudentName %></td>
                  <td><%= exeatInfo.type %></td>
                  <% if(exeatInfo.status === 'pending'){ %>
                     <td style="color:#FBC02D; font-weight: 600;"><%= exeatInfo.status%>...  </td>
                  <% }else{ %>
                     <td style="color: #388E3C; font-weight: 600; "><%= exeatInfo.status%></td>
                    <% } %>
                  <td>inactive</td>
                  <td>currentDate()</td>

                </tr>

              </tbody> -->
            </table>
          </div>
        </div>

            </form>

        </div>

    </body>
</html>